@import "tailwindcss";

:root {
  --text-color: #222; 
  --input-bg: #450303; 
  --card-bg: #ffffff;
  --primary-color: #007bff;
  --accent-color: #ffcc00; 
}

.dark {
  --bg-color: #373333; 
  --text-color: #e0e0e0; 
  --input-bg: #333;
  --card-bg: #292525; 
  --primary-color: #90caf9; 
  --accent-color: #ffb74d; 
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}


 